<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>FilterForCRUD</filter-name>
        <filter-class>Filter.FilterForCRUD</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/addcategory</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/addproduct</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/alist</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/aproducts</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/deletecategory</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/deleteproduct</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/updatecategory</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/updateproduct</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/addproduct.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/addcategory.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/updateproduct.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/updatecategory.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/revenue.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/revenue</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/orderdetail</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/orderdetail.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/chart.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/chart</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/orderstatistic.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/getorderbydate</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/sortorder</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterForCRUD</filter-name>
        <url-pattern>/searchorderinday</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ShopHomeServlet</servlet-name>
        <servlet-class>Controller.ShopHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyServlet</servlet-name>
        <servlet-class>Controller.BuyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>Controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassServlet</servlet-name>
        <servlet-class>Controller.ChangePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <servlet-class>Controller.ChangeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>Controller.CookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>Controller.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorManage</servlet-name>
        <servlet-class>Controller.ErrorManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductServlet</servlet-name>
        <servlet-class>Controller.ListProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>Controller.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>Controller.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByServlet</servlet-name>
        <servlet-class>Controller.SearchByServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductByNameServlet</servlet-name>
        <servlet-class>Controller.SearchProductByNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortByPriceServlet</servlet-name>
        <servlet-class>Controller.SortByPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDateServlet</servlet-name>
        <servlet-class>Controller.TestDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>Admin.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>Admin.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminListServlet</servlet-name>
        <servlet-class>Admin.AdminListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductsServlet</servlet-name>
        <servlet-class>Admin.AdminProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartDetail</servlet-name>
        <servlet-class>Admin.ChartDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartServlet</servlet-name>
        <servlet-class>Admin.ChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>Admin.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>Admin.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderByDateServlet</servlet-name>
        <servlet-class>Admin.GetOrderByDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>Admin.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueServlet</servlet-name>
        <servlet-class>Admin.RevenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderBySomedayServlet</servlet-name>
        <servlet-class>Admin.SearchOrderBySomeDayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortOrderDetailServlet</servlet-name>
        <servlet-class>Admin.SortOrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>Admin.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>Admin.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShopHomeServlet</servlet-name>
        <url-pattern>/shophome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyServlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassServlet</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <url-pattern>/changeprf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorManage</servlet-name>
        <url-pattern>/errormanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByServlet</servlet-name>
        <url-pattern>/searchby</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductByNameServlet</servlet-name>
        <url-pattern>/searchprodbyname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortByPriceServlet</servlet-name>
        <url-pattern>/sort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDateServlet</servlet-name>
        <url-pattern>/testdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminListServlet</servlet-name>
        <url-pattern>/alist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductsServlet</servlet-name>
        <url-pattern>/aproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartDetail</servlet-name>
        <url-pattern>/chartdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartServlet</servlet-name>
        <url-pattern>/chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/deletecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderByDateServlet</servlet-name>
        <url-pattern>/getorderbydate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueServlet</servlet-name>
        <url-pattern>/revenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderBySomedayServlet</servlet-name>
        <url-pattern>/searchorderinday</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortOrderDetailServlet</servlet-name>
        <url-pattern>/sortorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/updatecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
